/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Franklin Gothic Book";
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  background-color: cadetblue;
  text-align: center;
  height: 100px;
}
nav * {
  font-size: 1.2em;
  border: 10px black;
}

.vignette {
  max-width : 400px;
  padding : 5px;
  color: cadetblue;
}

.gallery-container {
  display:grid;
  padding:5em;
  text-align: center;
  grid-template-columns : repeat(auto-fit,minmax(15rem,1fr));
}

.responsive{
  width:100%;
  -webkit-box-shadow: -11px -18px 148px -40px rgba(255,255,255,1);
  -moz-box-shadow: -11px -18px 148px -40px rgba(255,255,255,1);
  box-shadow: -11px -18px 148px -40px rgba(255,255,255,1);
}

.mainImg{
  text-align: center;
}

.fa-remove{
  text-align: right;
}

#light{
  position: fixed;
  top : 0px;
  left: 0px;
  background-color: rgba(169, 169, 169, 0.9);
}

.grille{
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: 88vh;
  border-top: solid 2px;
  margin-top: 20px;
}

#lightbox{
  margin: 10px;
}

#lightbox-head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}


#lightbox-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#lightbox_full_img {
  max-height: 500px;
  max-width: 600px;
  -webkit-box-shadow: -7px 13px 21px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 13px 21px -7px rgba(0,0,0,0.75);
  box-shadow: -7px 13px 21px -7px rgba(0,0,0,0.75);
}

.logo{
  height: 100px;
}

.boutons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#load_gallery{
  text-align:center;
  background-color: cadetblue;
}

#previous{
  text-align:center;
  background-color: cadetblue;
}

#next{
  text-align:center;
  background-color: cadetblue;
}

#com_container{
  border-left: solid 2px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-top: 20px;
}

.com{
  margin: 25px;
  border-top: solid 1px;
}
